html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full viewport height */
}

/* Set overflow to auto on large screens */
@media screen and (min-width: 1024px) { /* Adjust the min-width as per your requirement */
  html, body {
    overflow: hidden;
  }
}

/* On smaller screens, you might want to disable scrolling on the body */
@media screen and (max-width: 1023px) {
  html, body {
    overflow: auto;
  }
}
